<!-- original >> -->

<!-- <div class="container">
  <p>Angular Fullstack v3.7.6 |
    <a href="https://twitter.com/tyhenkel">@tyhenkel</a> |
    <a href="https://github.com/DaftMonk/generator-angular-fullstack/issues?state=open">Issues</a>
  </p>
</div>
 -->


   <footer class="page-footer white">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="tx-green-text">Alamat</h5>
          <p class="tx-green-text text-lighten-4">
          Jl. Jalur Sutera Barat No. 3, Alam sutera, Kec. Tangerang, Banten 15325
          </p>


        </div>
        <div class="col l3 s12">
          <h5 class="tx-green-text">Info</h5>
          <ul>
            <li><a class="tx-green-text" href="#!">Tentang Kami</a></li>
            <li><a class="tx-green-text" href="#!">Syarat &amp; Ketentuan</a></li>
            <li><a class="tx-green-text" href="#!">Kebijakan Privasi</a></li>
            <li><a class="tx-green-text" href="#!">Blog</a></li>
          </ul>
        </div>
        <div class="col l3 s12">
          <h5 class="tx-green-text">Hubungi Kami</h5>
          <ul>
            <li><p class="tx-green-text"><i class="material-icons">email</i> <a href="mailto:info@tukangxpress.com" class="tx-green-text">info@tukangxpress.com</a></p></li>
            <li>
            <li><p class="tx-green-text"><i class="material-icons">call</i> <a href="callto:082114119600" class="tx-green-text">082114119600 (CS)</a></p></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright white">
      <div class="container">
     <p class="grey-text center">Copyright &copy; 2015 TukangXpress</p>
      </div>
    </div>
  </footer>