<!-- original >> -->

<!-- <div class="container">
  <p>Angular Fullstack v3.7.6 |
    <a href="https://twitter.com/tyhenkel">@tyhenkel</a> |
    <a href="https://github.com/DaftMonk/generator-angular-fullstack/issues?state=open">Issues</a>
  </p>
</div>
 -->


   <footer class="page-footer dark">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h6 class="tx-green-text bold">Alamat</h6>
          <p class="white-text text-lighten-4">
          Jl. Jalur Sutera Barat No. 3, Alam sutera, Kec. Tangerang, Banten 15325
          </p>


        </div>
        <div class="col l3 s12">
          <h6 class="tx-green-text bold">Info</h6>
          <ul>
            <li><a class="white-text" href="#!">Tentang Kami</a></li>
            <li><a class="white-text" href="#!">Syarat &amp; Ketentuan</a></li>
            <li><a class="white-text" href="#!">Kebijakan Privasi</a></li>
            <li><a class="white-text" href="#!">Blog</a></li>
          </ul>
        </div>
        <div class="col l3 s12">
          <h6 class="tx-green-text bold">Hubungi Kami</h6>
          <ul>
            <li><p class="white-text"><i class="material-icons">email</i> <a href="mailto:info@tukangxpress.com" class="white-text">info@tukangxpress.com</a></p></li>
            <li>
            <li><p class="white-text"><i class="material-icons">call</i> <a href="callto:082114119600" class="white-text">082114119600 (CS)</a></p></li>
          </ul>
        </div>
      </div>
    </div>

     <div class="grey-text center">Copyright &copy; 2016 TukangXpress</div>
    </div>
  </footer>