<!-- <div class="navbar navbar-default navbar-static-top" ng-controller="NavbarController">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" ng-click="nav.isCollapsed = !nav.isCollapsed">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/" class="navbar-brand">a</a>
    </div>
    <div uib-collapse="nav.isCollapsed" class="navbar-collapse collapse" id="navbar-main">
      <ul class="nav navbar-nav">
        <li ng-repeat="item in nav.menu" ui-sref-active="active">
            <a ui-sref="{{item.state}}">{{item.title}}</a>
        </li>
        <li ng-show="nav.isAdmin()" ui-sref-active="active"><a ui-sref="admin">Admin</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li ng-hide="nav.isLoggedIn()" ui-sref-active="active"><a ui-sref="signup">Sign up</a></li>
        <li ng-hide="nav.isLoggedIn()" ui-sref-active="active"><a ui-sref="login">Login</a></li>
        <li ng-show="nav.isLoggedIn()"><p class="navbar-text">Hello {{ nav.getCurrentUser().name }}</p> </li>
        <li ng-show="nav.isLoggedIn()" ui-sref-active="active"><a ui-sref="settings"><span class="glyphicon glyphicon-cog"></span></a></li>
        <li ng-show="nav.isLoggedIn()"><a ui-sref="logout">Logout</a></li>
      </ul>
    </div>
  </div>
</div>
 -->


  <div class="navbar-fixed">
  <nav class="white" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="/" class="brand-logo">
        <img class="logo-image navbar-brand" src="../assets/images/tx-logo.png">
      </a>
     
      <ul class="right hide-on-med-and-down">
        <!-- <li>
          <a ng-hide="nav.isLoggedIn()" class="waves-effect waves-green" ng-href="register.vendor">Register Vendor</a>
        </li> -->
        <li>
          <a ng-hide="nav.isLoggedIn()" class="waves-effect waves-green" ng-href="register">Register User</a>
          <a ng-show="nav.isLoggedIn()" ui-sref="user/main-auth">Main</a>
        </li>
        <li>
          <a ng-hide="nav.isLoggedIn()" class="waves-effect waves-green" ng-click='modalLogin()' modal>Login</a>
          <a ng-show="nav.isLoggedIn()" ui-sref="user/account">Account</a>
        </li>
        <li>
          <a ng-show="nav.isLoggedIn()" ui-sref="logout" >Logout</a>
        </li>
      </ul>

      <ul id="nav-mobile" class="side-nav dark">
        <li>
          <a ng-hide="nav.isLoggedIn()" ui-sref="register.vendor">Daftar Vendor</a>
        </li>
         <li>
          <a ng-hide="nav.isLoggedIn()" ui-sref="register">Daftar Pengunjung</a>
        </li>
        <li>
          <a ng-hide="nav.isLoggedIn()" ng-click="modalLogin()">Login</a>
          <a ng-show="nav.isLoggedIn()" ui-sref="account">Account</a>
        </li>
        <li>
          <a ng-show="nav.isLoggedIn()" ui-sref="logout" >Logout</a>
        </li>
      </ul>
      <a href="#" class="button-collapse" data-activates="nav-mobile" data-sidenav="left" data-closeonclick="false"><i class="material-icons white-text">menu</i></a>
    </div>
  </nav>
</div>