.thing-form {
  margin: 20px 0;
}

#banner {
  border-bottom: none;
  margin-top: -20px;
}

#banner h1 {
  font-size: 60px;
  line-height: 1;
  letter-spacing: -1px;
}

.hero-unit {
  position: relative;
  padding: 30px 15px;
  color: #F5F5F5;
  text-align: center;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  background: #4393B9;
}

.navbar-text {
  margin-left: 15px;
}

/*gema*/

.home-option {
/*display: inline-block;*/
/*width: 50%;*/
height: 600px;
background: url('../../assets/images/BGhome.jpg');
background-size: cover;
cursor: pointer;
cursor: hand;
display: block;
opacity: 0.4;
}

.home-option:hover {
  height: 600px;
  margin: 0;
  padding: 0;
  opacity: 1;
  -webkit-transition: opacity .25s ease;
}

@media only screen and (max-width : 600px) {
  .home-option{
    opacity: 1;
    height: 300px;
  }
}

@media only screen and (max-width : 992px) {
  .home-option {
    opacity: 1;
  }
}

.office-option {
/*display: inline-block;*/
/*width: 50%;*/
height: 600px;
background: url('../../assets/images/BGoffice.jpg');
background-size: cover;
cursor: pointer;
cursor: hand;
margin: 0;
padding: 0;
display: block;
opacity: 0.4;
}

.office-option:hover {
  height: 600px;
  margin: 0;
  padding: 0;
  opacity: 1;
  -webkit-transition: opacity .25s ease;
}

@media only screen and (max-width : 600px) {
  .office-option{
    opacity: 1;
    height: 300px;
  }
}

@media only screen and (max-width : 992px) {
  .office-option {
    opacity: 1;
  }
}

